In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('./data/books.csv')
book_tags = pd.read_csv('./data/book_tags.csv')
ratings = pd.read_csv('./data/ratings.csv')
toread = pd.read_csv('./data/toread.csv')

In [3]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,0
1,49,49041,49041,3203964,194,316160199,9.780316e+12,Stephenie Meyer,2006.0,"New Moon (Twilight, #2)",...,1199000,44020,102837,160660,294207,290612,350684,https://images.gr-assets.com/books/1361039440m...,https://images.gr-assets.com/books/1361039440s...,0
2,51,256683,256683,2267189,178,1416914285,9.781417e+12,Cassandra Clare,2007.0,City of Bones,...,1241799,51589,34122,65349,203466,356048,582814,https://images.gr-assets.com/books/1432730315m...,https://images.gr-assets.com/books/1432730315s...,0
3,52,428263,428263,2675454,185,316160202,9.780316e+12,Stephenie Meyer,2007.0,Eclipse,...,1176642,35216,83094,124293,260763,309358,399134,https://images.gr-assets.com/books/1361038355m...,https://images.gr-assets.com/books/1361038355s...,0
4,56,1162543,1162543,2960529,183,031606792X,9.780316e+12,Stephenie Meyer,2008.0,Breaking Dawn,...,1107709,44550,100994,114893,213402,267706,410714,https://images.gr-assets.com/books/1361039438m...,https://images.gr-assets.com/books/1361039438s...,0

In [4]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [5]:
book_tags.head()

   goodreads_book_id  tag_id  count
0               5413   30574  14364
1               5413   14821    680
2               5413    8717    563
3               5413   28663    330
4               5413   11743    169

In [42]:
ratings.head()

   user_id  book_id  rating
0       15     1993       5
1       15     1217       5
2       15     2347       5
3       15     7260       4
4       15     9363       4

In [44]:
toread.head()

   user_id  book_id
0      113     6756
1      352      457
2      590        3
3      871      898
4      871     1533

Q11: How many unique tags are there in the dataset [book_tags.csv] ? (N)

In [8]:
book_tags.tag_id.nunique()

3200

Q6: Which book (original_title) has the most number of counts of tags given by the user ie. the book with maximum user records including all tags [book_tags.csv,books.csv] ? (S)

In [41]:
books[books.goodreads_book_id == int(book_tags.groupby('goodreads_book_id').sum().sort_values(by='count',
                                     ascending=False).index[0])].original_title

5    Dracula
Name: original_title, dtype: object

Q7: Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? (N)

Q5: Which (tag_id) is the most frequently used ie. mapped with the highest number of books [book_tags.csv] ? (In case of more than one tag, mention the tag id with the least numerical value) (N)

Q3: How many unique users are present in the dataset [ratings.csv] ? (N)

Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

Q4: Which book (original_title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

Q10: Which book (goodreads_book_id) has the least number of count of tags given by the user ie. the book with minimum user records including all tags [book_tags.csv] ? (N)

Q1: How many books do not have an original title [books.csv] ? (N)

Q14: Predict sentiment using Textblob. How many positive titles (title) are there [books.csv] ? (cut-off >0) (N)