In [58]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
req = requests.get('https://www.imdb.com/chart/top/')
soup = BeautifulSoup(req.content)
soup.prettify()

In [60]:
title = []
year = []
rating = []
usernumber = []

In [61]:
table = soup.find('table', attrs={'class': 'chart full-width'})
imdb_titles = table.find_all(class_='titleColumn')
imdb_ratings = table.find_all(class_='ratingColumn imdbRating')

In [62]:
for i in imdb_titles:
    title.append(i.a.text)
    year.append(i.span.text.strip("(").strip(")"))

In [74]:
for i in imdb_ratings:
    rating.append(i.strong.text)
    usernumber.append(i.strong['title'].split(' ')[3])

In [76]:
zipping = zip(title,year,rating,usernumber)
df = pd.DataFrame(list(zipping), columns=['Movie Title','Year','Rating','No. of Ratings'], index=range(1,251))
df.head()

                Movie Title  Year Rating No. of Ratings
1  The Shawshank Redemption  1994    9.2      2,640,000
2             The Godfather  1972    9.2      1,829,948
3           The Dark Knight  2008    9.0      2,611,610
4     The Godfather Part II  1974    9.0      1,254,597
5              12 Angry Men  1957    8.9        779,426