In [1]:
from pandas_profiling import ProfileReport
import pandas as pd

In [4]:
df =pd.read_csv('./assets/ExcelScraping_Final.csv', encoding='latin-1')
df.head()

,City[a],Country,UN 2018 population estimates[b],City proper[c] Definition,City proper[c] Population,City proper[c] Area (km2),City proper[c] Density (/km2),Metropolitan area[d] Population,Metropolitan area[d] Area (km2),Metropolitan area[d] Density (/km2),Urban area[12] Population,Urban area[12] Area (km2),Urban area[12] Density (/km2)
0,Tokyo,Japan,37400068,Metropolis prefecture,13515271.0,2191.0,6169.0,37274000.0,13452.0,2771.0,39105000.0,8231.0,4751.0
1,Delhi,India,28514000,Capital City,16753235.0,1484.0,11289.0,29000000.0,3483.0,8326.0,31870000.0,2233.0,14272.0
2,Seoul,South Korea,25674800,Special city,10013781.0,605.0,16208.0,25514000.0,11704.0,2180.0,22394000.0,2769.0,8087.0
3,Shanghai,China,25582000,Municipality,24870895.0,6341.0,3922.0,NaN,NaN,NaN,22118000.0,4069.0,5436.0
4,São Paulo,Brazil,21650000,Municipality,12252023.0,1521.0,8055.0,21734682.0,7947.0,2735.0,22495000.0,3237.0,6949.0

In [6]:
ProfileReport(df).to_file('./results/report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]