In [1]:
from bs4 import BeautifulSoup as bs
import tabula
import requests
import urllib.request
import pandas as pd
from urllib.parse import urljoin
import os

In [2]:
url = 'https://www.premierleague.com/publications'
pdf_locat = './assests/PDFs'

In [3]:
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [5]:
for i in soup.select("a[href$='.pdf']"):
    #print(i['href'].split('/')[-1])
    if(i['href'].split('/')[-1]=='This-is-PL-Interactive-Combined.pdf'):
        filename = os.path.join(pdf_locat, i['href'].split('/')[-1])
    #if(filename == './PDFs\This-is-PL-Interactive-Combined.pdf'):
        with open(filename, 'wb') as f:
            f.write(requests.get(urljoin(url,i['href'])).content)

In [17]:
pdf = tabula.read_pdf('./assets/PDFs/This-is-PL-Interactive-Combined.pdf', pages='18', encoding = 'unicode_escape', area=[[275,504,640,900]])

In [31]:
pdf[0].iloc[:,:]

,Pos,Unnamed: 0,Club,W,D,L,GD,Pts,Total payment
0,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,£149.4m
1,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,£149.8m
2,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,£144.4m
3,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,£145.9m
4,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,£141.7m
5,6.0,NaN,Arsenal,19.0,6.0,13.0,23.0,63.0,£142.0m
6,7.0,NaN,Burnley,14.0,12.0,12.0,-3.0,54.0,£119.8m
7,8.0,NaN,Everton,13.0,10.0,15.0,-14.0,49.0,£128.0m
8,9.0,NaN,Leicester City,12.0,11.0,15.0,-4.0,47.0,£118.2m
9,10.0,NaN,Newcastle United,12.0,8.0,18.0,-8.0,44.0,£123.0m
10,NaN,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,E RY SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11.0,NaN,Crystal Palace,11.0,11.0,16.0,-10.0,44.0,£114.3m
13,12.0,NaN,AFC Bournemouth,11.0,11.0,16.0,-16.0,44.0,£111.2m
14,13.0,NaN,West Ham United,10.0,12.0,16.0,-20.0,42.0,£116.1m
15,14.0,NaN,Watford,11.0,8.0,19.0,-20.0,41.0,£106.3m
16,15.0,NaN,Brighton & Hove Albion,9.0,13.0,16.0,-20.0,40.0,£107.7m
17,16.0,NaN,Huddersfield Town,9.0,10.0,19.0,-30.0,37.0,£102.4m
18,17.0,NaN,Southampton,7.0,15.0,16.0,-19.0,36.0,£107.2m
19,18.0,NaN,Swansea City,8.0,9.0,21.0,-28.0,33.0,£98.5m
20,19.0,NaN,Stoke City,7.0,12.0,19.0,-33.0,33.0,£98.9m
21,20.0,NaN,West Bromwich Albion,6.0,13.0,19.0,-25.0,31.0,£94.7m